.home-page-sec {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

h2 {
  margin: 0;
}

.head-shot {
  width: 80vw;
  align-self: center;
}

.sub-title {
  color: white;
}

.personal-description-text {
  font-family: Rajdhani;
  overflow: auto;
}

@media only screen and (min-width: 1100px) {

  .home-page-sec {
    flex-direction: row;
  }

  .head-shot {
    width: auto;
    height: 100vh;
    padding: 40px;
  }

  .sub-title {
    transform: rotate(-90deg);
    transform-origin: -0 0;
    text-transform: uppercase;
    margin-left: 100%;
    width: 17em;
    font-family: Rajdhani;
    color: black;
  }

  .personal-description-text {
    padding-left: 40px;
    margin-left: 2em;
    font-family: Rajdhani;
    overflow: auto;
  }

}