.header-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
}

.small-nav-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 40vw
}

.nav-home-button,
.nav-button {
  text-decoration: none;
  color: black;
  padding: 1em;
}

.nav-home-button {
  font-size: 30px;
  padding-top: .5em;
  font-family: Italiana;
  text-transform: uppercase;
  padding: 1em;
}

.nav-button {
  font-family: Rajdhani;
  text-transform: uppercase;
  margin-top: 1.5em;
}