.header-sec {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
}

.small-nav-sec {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 50vw
}

.nav-home-button,
.nav-button {
  text-decoration: none;
  color: black;
  padding: 1em;
  text-transform: uppercase;
}

.nav-home-button {
  font-size: 5vw;
  font-family: Italiana;
}

.nav-button {
  font-family: Rajdhani;
}

@media only screen and (min-width: 600px) {

  .nav-home-button {
    font-size: 30px;
    margin-top: .5em;
  }

  .nav-button {
    margin-top: 1.5em;
  }

}